<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OB Tenants</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="amith">
    <link rel="stylesheet" type="text/css" media="screen" href="css/index.css" />
    <script src="main.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">OneBill</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Add Tenant</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--search widget-->
    <div class="card my-4">
        <h5 class="card-header">Search for tenants</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter tenant name...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <!--radio button-->
    <div class card my-3>
        <ul class="radio-btn">
            <li class="radio-optn">
                <input type="radio" name="account-type" value="production" checked>production
                <input type="radio" name="account-type" value="sandbox">sandbox
            </li>

        </ul>
    </div>
</body>

</html>