<div class="container">
    <div class="home-page" id="home-page">
        <img class="onebill-logo" src="/uploads{{file}}" alt="OneBill">
        <div class="tenant-search">
            <input type="text" class="form-control" placeholder="Search For Tenant...">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
            </span>
        </div>
    </div>
</div>

   <!--navigation options-->
    {{>home/home-nav-option}}